#background
{
	background-color: #cccccc;
	font-size: 22px;
}
#box1
{
    box-sizing: border-box;
    width: 300px;
    height: 100px;
    padding: 30px;  
    border: 10px solid blue;
}
#box2
{
    box-sizing: border-box;
    width: 300px;
    height: 100px;
    padding: 30px;  
    border: 10px solid blue;
}
#navbar li
{
	display:inline;
}
#navbar a 
{
	color: #FFFFFF;
	padding: 22px;
	text-decoration: none;
}
#navbar a:hover 
{
  background-color: #34051D;
}
