#background
{
	background-color: #cccccc;
	font-size: 22px;
}
#pfp
{
	margin-left: 20px;
	font: bold 29px monospace; 
}
#navbar
{
	text-align: center;
	background-color: #591527;
	top: 0;
  font: bold 29px monospace;
}
#navbar li
{
	display:inline;
}
#navbar a 
{
	color: #FFFFFF;
	padding: 22px;
	text-decoration: none;
}
#navbar a:hover 
{
  background-color: #34051D;
}
#eduXP
{
	overflow: auto;
	width: 100%;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 50px;
	margin-left: 20px;
}
#eduXP h3
{
	margin-bottom: 15px;
	font: bold 29px monospace; 
}
#eduXP p
{
	font: 25px monospace;
	margin-bottom: 10px;	
}
#eduXP figure
{
	float: left;
	font: 16px Monospace;
}
#origin
{
	overflow: auto;
	width: 100%;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}
#origin h3
{
	margin-bottom: 15px;
	font: bold 29px monospace;
}
#origin p
{
	font: 25px monospace;
	margin-bottom: 10px;
}
#gallery1
{
	display: flex;
  justify-content: center;
}
#gallery1 figure
{
	height: 398px;
  width: 600px;
}
#gallery1 figcaption
{
	font: 18px monospace;
}
#gallery2
{
	margin-top: 60px;
	display: flex;
  justify-content: center;
}
#gallery2 figure
{
	height: 398px;
  width: 600px;
}
#gallery2 figcaption
{
	font: 18px monospace;
}
#hobby
{
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 20px;
	font: 25px monospace;
}
#hobby h3
{
font: bold 29px monospace;
}
#hobby li
{
	list-style: square inside;
}


#portfolio
{
	background-color: #242842;
	color: #FFFFFF;
}
#pc h1
{
	margin-top: 50px;
	margin-left: 20px;
	margin-bottom: 15px;
	font: bold 29px monospace; 
}
#pc p
{
	margin-left: 10px;
	font: 23px monospace;
	margin-bottom: 10px;	 
}
#blog h2
{
	margin-top: 50px;
	margin-left: 20px;
	margin-bottom: 15px;
	font: bold 29px monospace; 
}
#blog p
{
	margin-left: 10px;
	font: 23px monospace;
	margin-bottom: 10px;	 
}
#games h3
{
	margin-top: 50px;
	margin-left: 20px;
	margin-bottom: 15px;
	font: bold 29px monospace; 
}
#games p
{
	margin-left: 10px;
	font: 23px monospace;
	margin-bottom: 10px;	 
}
#games li
{
	margin-left: 10px;
	font: 23px monospace;
	margin-bottom: 10px;
	list-style: square inside;	
}
#jleague
{
	background-color: #34051D;
	margin-top: 30px;
	margin-bottom: 20px;
}
#jleague h1
{
	font: bold 30px monospace;
	text-align: center;
}
#jleague p
{
	font: bold 20px monospace;
	text-align: center;
}
#map
{
	width: 800px;
	height: 600px;
	margin-left: 100px;
}
#misc h3
{
	margin-top: 50px;
	margin-left: 20px;
	margin-bottom: 15px;
	font: bold 29px monospace; 
}
#misc p
{
	margin-left: 10px;
	font: 23px monospace;
	margin-bottom: 10px;	 
}

#resume
{
	background-color: #E3DCDC;
	color: #1D1C28;
}
#header
{
	margin-top: 10px;
	border-radius: 10px;
	position: static;
  z-index: 1;
  height:40px;
  width: 100%;
  background-color: #AEB6BF;
  margin-bottom: 10px
}
#header h1
{
	float:left;
	margin-left: 20px;
	padding-bottom: 10px;
	font: bold 35px 'Roboto Slab', serif;
}
#header h2
{
	float:right;
  margin-right: 20px;
	padding-bottom: 10px;
	font: bold 27px 'Roboto Slab', serif;
}
#profile h3
{
	font: bold 27px 'Roboto Slab', serif;
	margin-top: 30px;
	margin-left: 20px;
	text-decoration: underline;
}
#profile p
{
	font: 21px 'Roboto Slab', serif;
	margin-left: 10px;
}

#edu h3
{
	font: bold 27px 'Roboto Slab', serif;
	margin-top: 20px;
	margin-left: 20px;
	text-decoration: underline;
}
#edu p
{
	font: 21px 'Roboto Slab', serif;
	margin-top: 10px;
	margin-left: 10px;
}
#skill h3
{
	font: bold 27px 'Roboto Slab', serif;
	margin-top: 20px;
	margin-left: 20px;
	text-decoration: underline;
}
#skill ul
{
	font: 21px 'Roboto Slab', serif;
	margin-top: 10px;
	margin-left: 10px;
	list-style: square inside;
}
#hist h3
{
	font: bold 27px 'Roboto Slab', serif;
	margin-top: 20px;
	margin-left: 20px;
	text-decoration: underline;
}
#hist p
{
	font: 22px 'Roboto Slab', serif;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}
#hist ul
{
	font: 21px 'Roboto Slab', serif;
	margin-left: 10px;
	list-style: square inside;
}
#footer
{
	border-radius: 10px;
	position: static;
  z-index: 1;
  height:40px;
  width: 100%;
  background-color: #AEB6BF;
  margin-top: 20px
}

#mays
{
	margin-top: 70px;
	background-color: #1D1C28;
	color: #FFFFFF;
}
#mays h1
{
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 26px;
	margin-bottom: 20px;
	margin-left: 20px;
}
#mays h2
{
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 26px;
	margin-left: 20px;
}
#mays p
{
	margin-top: 20px;
	margin-left: 20px;
	font-family: "Arial", Gadget, sans-serif;
	font-size: 26px;
}
#anime
{
	margin-top: 20px;
	margin-left: 20px;
}
#phil
{
	margin-top: 20px;
	margin-left: 20px;
}
#essay
{
	margin-top: 20px;
	margin-left: 20px;
}
#wall
{
	margin-top: 20px;
	margin-left: 20px;
}